{% extends 'landing/base.html' %}
{% block content %}

<form method="POST" class="email" id = "email">

    {% csrf_token %}
    <br>
    <div class="select" id="selectMajor">

        <h3 class="form-header">Next semester will be</h3>


        <div id="term-info" display="block" class="list">

            <p name="term-opts" class="MAVselect">
                Next Semester:
                <select name="id_d-ssf" id="id_d-ssf">
                    {% for s in sem %}
                        {% if s.0 == 'S'%}
                            <option value="{{s.1}}" selected> {{s.1}}</option>
                        {% else %}
                            <option value="{{s.1}}">{{ s.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <nbsp></nbsp>

                <select name="id_d-year" id="id_d-year">
                    {% for y in years %}
                        {% if y.0 == 'S'%}
                            <option value="{{y.1}}" selected> {{y.1}}</option>
                        {% else %}
                            <option value="{{y.1}}">{{ y.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>

        </div>

        <br><br>

        <h3 class="form-header">Prefered credits for next semester</h3>
        <div class="list">
        <p class="MAVselect">Minimum number of credit hours:
        <select name="nextSemMin">
            {% for min in minCred %}
                {% if min.0 == 'S'%}
                    <option value="{{min.1}}" selected> {{min.1}}</option>
                {% else %}
                    <option value="{{min.1}}">{{ min.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </p>

        <p class="MAVselect">Maximum number of credit hours:
        <select name="nextSemMax">
            {% for max in maxCred %}
                {% if max.0 == 'S'%}
                    <option value="{{max.1}}" selected> {{max.1}}</option>
                {% else %}
                    <option value="{{max.1}}">{{ max.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
        <br>
        <br>
        <button type="submit" name="submit" value="submit" class="MAVbutton">submit</button>
    </div>

</form>


{% endblock %}