{% extends 'landing/base.html' %}
{% block content %}
<br>
<h3>Select Courses Completed</h3>
<p align="center">Place a check mark next to the classes you've already taken</p>
<br><br>
<form method="POST" class="usercompleted-form">
    {% csrf_token %}
    {% for r in checkBoxes %}
        <p><b>{{ r.1 }}</b> | <i>{{ r.2 }} credits needed</i></p>
        <hr>
        <div class="row">
        {% for cb in r.3 %}
            <div class="column"><p><input type="checkbox" name ="chexmix" value="{{cb.1}} {{cb.2}}">{% if cb.5 == "O" %}*{%endif%}<b>{{cb.1}} {{cb.2}}</b> {{cb.3}}</br><i>({{cb.4}} credits)</i></input></p></div>
        {% endfor %}
        </div>
    {% endfor %}
    </br>
	<button name="submit" type="submit" class="MAVbutton">Submit</button>
</form>

{% endblock %}
